# .NET Core
bin/
obj/

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet Packages
*.nupkg
*.paket
*.paket.lock

# User-specific files
*.user
*.suo
*.cache
*.vsconfig

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Ll]og/
[Ll]ogs/
obj/
[Tt]est[Rr]esult*/
[Tt]est[Rr]eport/
build/
bld/
[Bb]uild/
config.*
*.[Cc]ache
*.dbmdl
*.dbproj.suo
*.jfm
*.sbr
*.tlb
*.tlh
*.tmp
*.user
*.iuser
*.pdb
*.ipch
*.cache
*.ilk
*.mdmp
*.pch
*.pgc
*.pgd
*.rsp
*.scc
*.tlb
*.tli
*.tlh
*.trx
*.log
*.vspx
*.vspolicy
*.vsps
*.vspx
*.orig
*.rptproj.bak
*.bak
*.cache
*.ilk
*.meta
*.projdata
*.userprefs
*.htmlll
*.ziplog
*.vspx
*.logxml
*.vspipe
*.dump
*.idb
*.exp
*.pch
*.res
*.d
*.vspx.CachedCompile.dll
*.h.e__*
*.gpstate
*.swp
*.swo
*.moc
*.ui
*.i
*.resource
*.sdf
*.opensdf
*.unsuccessfulbuild
*.resx
*.resscript
*.orpc
*.logxml
*.abf
*.aps
*.vshost.*
*.snk
*.wrn
*.docstates
*.dbmdl
*.ldb
*.scc
*.suo
*.manifest
*.msg
*.svclog
*.vspx
*.htmldoc
*.sql
*.xml
*.xsl
*.xsd
*.xsc
*.xst
*.config
*.target
*.trg
*.vb
*.java
*.c
*.cpp
*.cxx
*.cc
*.h
*.hh
*.hxx
*.hpp
*.def
*.odl
*.idl
*.asm
*.inc
*.asmx
*.ascx
*.xsd
*.hdf
*.xss
*.jse
*.wsf
*.wsc
*.wsh
*.lnk
*.msi
*.cab
*.psess
*.ps1xml
*.psc1
*.psm1
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pywx
*.pyz
*.rej
*.bmp
*.dib
*.png
*.gif
*.jpg
*.jpeg
*.jpe
*.jfif
*.jif
*.jfi
*.ico
*.emf
*.wmf
*.tiff
*.tif
*.svg
*.svgz
*.eps
*.psd
*.pdd
*.raw
*.nef
*.crw
*.cr2
*.orf
*.sr2
*.pef
*.x3f
*.raf
*.mrw
*.dcr
*.dng
*.erf
*.bay
*.arw
*.srf
*.srw
*.ptx
*.cap
*.iiq
*.eip
*.webp
*.cr3
*.tif
*.tiff
*.pdf

# Others
*.log
*.DS_Store
